BACKEND_PORT=3001
BACKEND_HOST=127.0.0.1
TRUST_PROXY_HOPS=0
TON_NETWORK=testnet
TONCENTER_API_BASE_URL=https://testnet.toncenter.com/api/v2
COINGECKO_API_BASE_URL=https://api.coingecko.com/api/v3
REACT_APP_API_BASE_URL=
REACT_APP_TON_NETWORK=testnet
REACT_APP_DEMO_MODE=false
REACT_APP_ROUTER_MODE=auto
REACT_APP_TONCONNECT_MANIFEST_URL=/api/tonconnect-manifest
APP_PUBLIC_URL=
CORS_ORIGIN=
TONCENTER_API_KEY=
