BACKEND_PORT=4174
BACKEND_HOST=127.0.0.1
DEV_FRONTEND_PORT=4173
TRUST_PROXY_HOPS=0
UPSTREAM_TIMEOUT_MS=8000
API_RATE_LIMIT_MAX=240
TRANSFER_RATE_LIMIT_MAX=30
MAX_TRANSFER_TON=100
TON_NETWORK=testnet
TONCENTER_API_BASE_URL=https://testnet.toncenter.com/api/v2
COINGECKO_API_BASE_URL=https://api.coingecko.com/api/v3
TONCENTER_API_KEY=
APP_PUBLIC_URL=
CORS_ORIGIN=

VITE_API_BASE_URL=
VITE_TON_NETWORK=testnet
VITE_DEMO_MODE=false
VITE_ROUTER_MODE=auto
VITE_TONCONNECT_MANIFEST_URL=/api/tonconnect-manifest
